body {
    background-image: url("../img/Heiligenhaus.jpg") ;
    background-size:  cover ;
    margin: 0 20% 0 20%;
    font-size:200% ;
    color: whitesmoke;
}
.logo1{
    width: 15%;
}
.main{
    background-color: rgba(34, 32, 32, 0.5);
    width: 90%;
    height: 70vh;
    border-radius: 10%;
    padding: 4%;
}
